[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "treesliceR"]
	path = treesliceR
	url = https://github.com/araujomat/treeslicer
